<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.dogwhere">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dogwhere">
        <activity android:name=".BBS_Transaction_Writing"></activity>
        <activity android:name=".Stop_watchActivity"></activity>
        <activity android:name=".BBS_post" />
        <activity android:name=".BBS_Common_Writing" />
        <activity android:name=".RegisterDogProfileActivity" />
        <activity android:name=".RegisterUserProfileActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKpRkxQzmHoyXd_Ld10tUa4Xn964xfIn8" />

        <activity android:name=".WalkActivity" />
        <activity android:name=".MatchingActivity" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".BBSActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".joinId"></activity>
        <activity android:name=".example" />
        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>